<img id="rodape" src="assets/imgs/ondasOrange.png" alt="ondas com os padroes de cores do projeto"></img>
<section class="container row mx-auto">
    <div class="col-sm-12 col-md-4" > 
        <h5>> Contato</h5>
        <p>practice@uffs.edu.br<p>
    </div>
    <div class="col-sm-12 col-md-4" > 
        <h5>> Serviços</h5>
        <p>Fluxo de Trabalho</p>
        <p>Audio e Vídeo</p>
        <p>Estúdio</p>
        <p>Texto e Imagem</p>
        <p>Eventos Virtuais</p>
    </div>
    <div class="col-sm-12 col-md-4 redes-sociais row"> 
        <div class="col-2"><a href="mailto:practice@uffs.edu.br?subject=Contato"><img src="assets/imgs/Ícones Redes Sociais/Email Escuro.png" alt="icone do uma carta para o email"></a></div>
        <div class="col-2"><a href="https://github.com/practice-uffs"><img src="assets/imgs/Ícones Redes Sociais/Github Escuro.png" alt="logo do github"></a></div>
        <div class="col-2"><a href="https://www.instagram.com/practiceuffs/"><img src="assets/imgs/Ícones Redes Sociais/Instagram Escuro.png" alt="logo do instagram"></a></div>
        <div class="col-2"><a href="https://www.youtube.com/channel/UCu3jAl8MTMPkaxb3u0_xESw?view_as=subscriber"><img src="assets/imgs/Ícones Redes Sociais/YouTube Branca.png" alt="logo do youtube"></a></div>
        <div class="col-2"><a href="https://practice.uffs.cc/"><img src="assets/imgs/Ícones Redes Sociais/Seta Escura.png" alt="icone da seta do mouse"></a></div>
    </div>
</section>


<div class="text-center copy-right">
    <p>
        Os icones utilizadas nesse site nesse site tem como fonte
        Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </br>
        As imagens utilizadas nesse site tem como fonte <a href="https://undraw.co/" rel="nofollow" target="_blank">undraw.co/</a><br>
        Created by
            <a href="https://twitter.com/ninaLimpi" rel="nofollow" target="_blank" style="color: #bfbfbf;">Katerina Limpitsouni</a>,
        Code / Design by
            <a href="https://twitter.com/anges244" rel="nofollow" target="_blank" style="color: #bfbfbf;">Aggelos Gesoulis</a>.
    </p>
</div>