header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh; }
  header #logo {
    align-self: center;
    width: 500px; }
  header .subtitle {
    color: #2f7b9a;
    font-size: 15px; }
  header .menu {
    height: 30px;
    width: 100%;
    background-color: #264653; }

@media screen and (max-width: 600px) {
  header {
    height: 30vh; }
    header #logo {
      width: 300px; }
    header .subtitle {
      margin: 0 20px;
      font-size: 12px; } }
@media screen and (max-width: 480px) {
  header #logo {
    width: 280px; } }
footer {
  display: flex;
  flex-direction: column;
  background-color: #fa8334;
  color: #f8f9fa;
  width: 100%; }
  footer #rodape {
    width: 100%;
    align-self: flex-end; }
  footer .redes-sociais a {
    margin: 5px; }
    footer .redes-sociais a img {
      width: 16px; }
  footer .copy-right {
    font-size: 10px; }
    footer .copy-right p a {
      color: #90a0b0; }
    footer .copy-right p a:active {
      color: #90a0b0; }
    footer .copy-right p a:after {
      color: #90a0b0; }
    footer .copy-right p a:hover {
      color: #90a0b0; }

#content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #content .capa-yellow {
    width: 100%;
    margin-top: -80px;
    margin-bottom: -80px; }
  #content .capa-white {
    width: 100%;
    margin-top: -70px;
    margin-bottom: -70px; }

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcae17;
  width: 100%;
  padding-bottom: 30px; }
  .video h1 {
    padding: 10px;
    padding-bottom: 30px;
    color: #264653; }
  .video #video {
    width: 760px;
    height: 428px; }

.apresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  padding: 100px; }
  .apresentacao article {
    align-self: center; }
    .apresentacao article h1 {
      color: #2f7b9a; }

.objetivos-container {
  background-color: #fa8334;
  color: #f8f9fa;
  width: 100%;
  padding-top: 30px; }
  .objetivos-container .objetivos {
    display: flex;
    flex-direction: row;
    padding: 10px 50px; }
    .objetivos-container .objetivos .objetivos-title {
      width: 300px; }
      .objetivos-container .objetivos .objetivos-title h1 {
        font-size: 30px; }
      .objetivos-container .objetivos .objetivos-title h2 {
        font-size: 12px; }
      .objetivos-container .objetivos .objetivos-title p {
        color: #264653;
        font-size: 100px;
        margin-top: -100px; }
    .objetivos-container .objetivos .objetivos-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
      .objetivos-container .objetivos .objetivos-items .objetivos-items-item {
        max-width: 250px;
        margin: 5px; }
        .objetivos-container .objetivos .objetivos-items .objetivos-items-item h1 {
          font-size: 20px; }
        .objetivos-container .objetivos .objetivos-items .objetivos-items-item p {
          color: #eff1f4;
          font-size: 13px; }
        .objetivos-container .objetivos .objetivos-items .objetivos-items-item span img {
          width: 32px;
          filter: brightness(0) invert(1); }

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #264653;
  width: 100%;
  height: 300px; }
  .frase h1 strong {
    color: #2f7b9a; }

.servico {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2f7b9a;
  width: 100%;
  height: 100vh;
  padding: 50px; }
  .servico .servico-title {
    color: #f8f9fa; }
    .servico .servico-title h1 {
      font-size: 30px; }
    .servico .servico-title h2 {
      font-size: 12px; }
    .servico .servico-title p {
      color: #fa8334;
      font-size: 100px;
      margin-top: -100px; }

.carousel-item {
  text-align: center; }
  .carousel-item .servico-img {
    width: 350px;
    max-height: 400px;
    margin: 0 auto;
    padding-bottom: 150px; }

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #264653;
  width: 100%;
  height: 300px; }
  .contato .redes-sociais a img {
    width: 100px;
    padding: 5px;
    margin: 10px;
    border: 2px solid #264653;
    border-radius: 100%; }

@media screen and (max-width: 600px) {
  .video h1 {
    font-size: 25px;
    padding: 5px; }
  .video #video {
    width: 400px;
    height: 450px; }
  .video #sublinhado {
    height: 7px; }

  .apresentacao {
    padding: 30px; }

  .objetivos-container .objetivos {
    flex-direction: column;
    padding: 20px 30px; }
    .objetivos-container .objetivos .objetivos-items .objetivos-items-item {
      width: 450px; } }
@media screen and (max-width: 480px) {
  .video #video {
    width: 370px;
    height: 209px; } }
@media screen and (max-width: 375px) {
  .video #video {
    width: 300px;
    height: 169px; }
  .video #sublinhado {
    height: 5px; } }

/*# sourceMappingURL=styles.css.map */
