#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    .capa-yellow{
        width: 100%;
        margin-top: -80px;
        margin-bottom: -80px;
    }
    .capa-white{
        width: 100%;
        margin-top: -70px;
        margin-bottom: -70px;
    }
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $corB;
    width: 100%;
    padding-bottom: 30px;
    h1{
        padding: 10px;
        padding-bottom: 30px;
        color: $corA;
    }

    #video{
        width:760px;
        height:428px;
    }
}

.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 350px;
    padding: 100px;
    article{
        align-self: center;
        h1{
            color: $corD;
        }
        p{
        }
    }
}

.objetivos-container{
    background-color: $corC;
    color:$text-light;
    width: 100%;
    padding-top: 30px;
    .objetivos{
        display: flex;
        flex-direction: row;
        padding: 10px 50px;
        .objetivos-title{
            width: 300px;
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 12px;
            }
            p{
                color:$chacal;
                font-size: 100px;
                margin-top: -100px;
            }
        }    
        .objetivos-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .objetivos-items-item{
                max-width: 250px;
                margin: 5px;
                h1{
                    font-size: 20px;
                }
                p{
                    color: darken($text-light,3%);
                    font-size: 13px;
                }
                span{
                    img{
                        width: 32px;
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

}

.frase{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $corE;
    color: $corA;
    width: 100%;
    height: 300px;
    h1{
        strong{
            color: $corD;
        }
    }
}
.equipe{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between    ;

    background-color: $corD;
    color:$text-light;
    width: 100%;
    height: 300px;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: $corE;
    color:$corA;
    width: 100%;
    height: 300px;
    .redes-sociais{
        a{img{
            width: 100px;
            padding: 5px;
            margin: 10px;
            border: 2px solid $corA;
            border-radius: 100%;
        }}
    }   
}

@media screen and (max-width: 600px) {
    .video{
        h1{
            font-size: 25px;
            padding: 5px;
        }
        #video{
            width:400px;
            height:450px;
        }
        #sublinhado{
            height: 7px;;
        }
    }

    .apresentacao{
        padding: 30px;
    }

    .objetivos-container{
        .objetivos{
            flex-direction: column;
            padding: 20px 30px;
            .objetivos-items{
                .objetivos-items-item{
                    width: 450px;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .video{
        #video{
            width:370px;
            height:209px;
        }
    }
}
@media screen and (max-width: 375px) {
    .video{
        #video{
            width:300px;
            height:169px;
        }
        #sublinhado{
            height: 5px;;
        }
    }
}
