#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sublinhado{
    height: 8px;;
}

#video{
    width:560px;
    height:315px;
}
.objetivos-container{
    background-color: $orange;
    color:$text-light;
    width: 100%;
    .objetivos{
        display: flex;
        flex-direction: row;
        padding: 10px 50px;
        .objetivos-title{
            width: 300px;
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 12px;
            }
            p{
                color:$chacal;
                font-size: 100px;
                margin-top: -100px;
            }
        }    
        .objetivos-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .objetivos-items-item{
                max-width: 250px;
                margin: 5px;
                h1{
                    font-size: 20px;
                }
                p{
                    color: darken($text-light,3%);
                    font-size: 13px;
                }
                span{
                    img{
                        width: 32px;
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {
    #video{
        width:400px;
        height:450px;
    }
    #sublinhado{
        height: 7px;;
    }
    .objetivos-container{
        .objetivos{
            flex-direction: column;
            padding: 20px 30px;
            .objetivos-items{
                .objetivos-items-item{
                    width: 450px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #video{
        width:300px;
        height:150px;
    }
    #sublinhado{
        height: 5px;;
    }
}
