
footer{
    display: flex;
    flex-direction: column;
    background-color: $orange;
    color:$text-light;
    width: 100%;
    #rodape{
        width: 100%;
        align-self: flex-end;
    }
    .redes-sociais{
        a{
            margin: 5px;
            img{
                width: 16px;
            }
        }
    }
    .copy-right{
        font-size: 10px;
        p{
            a{
                color: darken($text-light, 35%);
            }
            a:active{
                color: darken($text-light, 35%);
            }
            a:after{
                color: darken($text-light, 35%);
            }
            a:hover{
                color: darken($text-light, 35%);
            }
        }

    }
}