$chacal: #264653;
$cg-blue: #2f7b9a;
$chinese-yellow: #fcae17;
$orange:#fa8334;
$text-light:#f8f9fa;
$white:#fff;

$corA:$chacal;
$corB:$chinese-yellow;
$corC:$orange;
$corD:$cg-blue;
$corE:$text-light;